*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Hide Default Scrollbar Globally */
::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
}

:root {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(240, 240, 240, 0.9);
    /* Bone White */
    background-color: #050000;
    /* Deep Dark Red/Black */
    /* Match landing page */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

#root {
    width: 100%;
}

/* Global Text Selection Override */
::selection {
    background: #FFD700;
    /* Gold background */
    color: black;
    /* Black text */
}